@keyframes float {
    0% {
      transform: translateY(0) scale(1);
      opacity: 0.1;
    }
    50% {
      transform: translateY(-20px) scale(1.1);
      opacity: 0.3;
    }
    100% {
      transform: translateY(0) scale(1);
      opacity: 0.1;
    }
  }
  
  .animate-float {
    animation-name: float;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  